.header {
  padding: 0 30px 0;
  background: none;
  position: static;

  &__logo {
    margin-left: 0;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__btns {
    display: flex;
  }
  &__btn {
    height: 60px;
    font-family: "Proxima Nova Rg", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(196, 196, 196, 0.5);
    box-sizing: border-box;
    border-radius: 100px;
    padding: 0 37px;
    font-size: 19px;
    line-height: 140%;
    color: black;
  }
}

@media (max-width: 767px) {

  .header {
    &__btn {
      height: 41px;

      &:first-child {
        display: none;
      }
    }
  }
}