@import "../commonStyles";

@font-face {
  font-family: 'Proxima Nova Sb';
  src: url('../../fonts/ProximaNova-Semibold.woff2') format('woff2'),
  url('../../fonts/ProximaNova-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url('../../fonts/ProximaNova-Regular.woff2') format('woff2'),
  url('../../fonts/ProximaNova-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Proxima Nova Rg", sans-serif;
  background: #FAFAFE;
}

.border-btn {
  transition: color 0.4s, border 0.4s;
  &:hover {
    border: 1px solid black;
    color: black;
  }
}

main {
  height: 100%;
  position: relative;
}

span.error {
  position: absolute;
  right: 0;
  color: red;
  font-size: 12px;
  top: 106%;
}

form {
  background: #FFFFFF;
  border-radius: 10px;
  padding: 26px 38px 22px;
  max-width: 490px;
  top: 135px;
  margin: 135px auto 0;

  .input.error {
    border-bottom: 1px solid red;
  }

  a {
    color: #0500FF;
    transition: color 0.4s;

    &:hover {
      color: #ff0000 !important;
    }
  }

  .recovery {
    display: block;
    margin-bottom: 12px;
  }

  .text-grey {
    color: #9090A9;
  }

  label, p {
    font-weight: 400;
    font-size: 19px;
    line-height: 140%;
  }

  h2 {
    font-family: "Proxima Nova Sb", sans-serif;
    font-size: 30px;
    line-height: 130%;
    letter-spacing: -0.02em;
    color: #000000;
    margin-bottom: 27px;
  }

  div {
    width: 100%;
  }

  .input-block {
    display: flex;
    flex-direction: column;
    position: relative;

    label {
      position: absolute;
      bottom: 10px;
      cursor: text;
      transition: bottom 0.4s, transform 0.4s;
      transform: scale(1);
      transform-origin: left;
    }
    input {
      outline: none;
      padding: 9px 0 9px;
      font-size: 19px;
      line-height: 140%;
      border: none;
      background: none;
      margin: 34px 2px 0;
      border-bottom: 1px solid #E0E0EF;
      z-index: 2;
    }
  }

  .moving-label {
    label {
      bottom: 42px;
      margin-right: auto;
      transform: scale(0.84, 0.84);
    }
  }

  .submit-btn {
    cursor: pointer;
    border: none;
    margin: 40px 2px 41px;
    background: #0500FF;
    border-radius: 100px;
    width: 100%;
    height: 70px;
    color: white;
    font-size: 19px;
    line-height: 140%;
    font-family: "Proxima Nova Sb", sans-serif;
    transition: background 0.4s;

    &:hover {
      background: #ff0000;
    }
  }

  p {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}

.mail-sent {
  display: none;
}

.recovery-password {
  .mail-sent {
    display: block;
    margin-bottom: 128px;
  }
  .email {
    display: none;
  }
  .recovery-btn {
    display: none;
  }
}

.sex-btn {
  border: 1px solid #E0E0EF;
  box-sizing: border-box;
  border-radius: 100px;
  height: 41px;
  padding: 0 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;

  &:not(:first-child) {
    margin-left: 10px;
  }
}

.level-label {
  border: 1px solid #E0E0EF;
  box-sizing: border-box;
  border-radius: 50%;
  height: 41px;
  width: 41px;
  min-width: 41px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9090A9;
}

.details {
  max-width: 960px;
  padding-bottom: 0;

  h2 {
    margin-bottom: 16px;
  }

  .correction {
    font-size: 30px;
    line-height: 130%;
  }

  &__actions {
    max-width: 640px;
    margin: 0 auto;
  }

  .names {
    display: flex;
    grid-column-gap: 40px;
  }

  .data-sex {
    display: flex;
    align-items: flex-end;
    grid-column-gap: 55px;

    .sex {
      display: flex;
      align-items: center;
      position: relative;

      span.error {
        right: unset;
      }

      p {
        margin-right: 17px;
        margin-bottom: 0;
      }
    }

    .radio-sex {
      width: 0;
      height: 0;
      opacity: 0;
      position: absolute;
      margin-top: -1000px;
      appearance: none;

      &:checked {
        &+.sex-btn {
          border: black;
          background-color: black;
          color: white;
          &:hover {
            color: white;
          }
        }
      }
    }
  }

  .level-title {
    margin-top: 35px;
    max-width: 433px;
  }

  .skill-level {
    display: flex;
    grid-column-gap: 7px;
    grid-row-gap: 7px;
    margin-top: 17px;
    position: relative;

    span.error {
      right: unset;
    }

    .level-item {
      .level-input {
        height: 0;
        width: 0;
        position: absolute;
        margin-top: -1000px;
        appearance: none;
      }

      .level-input {
        &:checked {
          &+.level-label {
            background-color: black;
            color: white;
            border: black;

            &:hover {
              color: white;
            }
          }
        }
      }
    }
  }

  .submit-btn {
    margin-top: 55px;
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {

  main {
    padding: 0 15px;
  }
  form {
    width: 100%;
    padding: 20px 30px 16px;

    h2 {
      font-size: 25px;
      margin-bottom: 20px;
    }

    label, p {
      font-size: 16px;
    }

    .submit-btn {
      height: 60px;
      font-size: 16px;
      margin: 30px 2px;
    }

    .input-block {
      input {
        margin: 25px 2px 0;
        font-size: 16px;
      }
    }

    .moving-label {
      label {
        bottom: 30px;
      }
    }
  }

  .details {
    .correction {
      font-size: 25px;
    }

    .names {
      flex-direction: column;
    }

    .data-sex {
      flex-direction: column;

      .sex {
        margin-top: 20px;

        p {
          margin-right: 0;
        }
      }
    }

    .level-title {
      margin-top: 25px;
    }

    .skill-level {
      flex-wrap: wrap;
      div {
        width: unset;
      }
    }

    .submit-btn {
      margin-top: 40px;
      margin-bottom: 30px;
    }
  }
}