* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Proxima Nova Rg", sans-serif;
  font-size: 1rem;
}

ul {
  list-style: none;

  li {
    font-size: 1.1875rem;
  }
}

h2 {
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 130%;
  letter-spacing: -0.02em;
}

header {
  background-color: black;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  padding: 0 30px;
  position: relative;
  z-index: 10;
}

.header {

  &__logo {
    cursor: pointer;

    svg {
      path {
        transition: fill 0.2s linear;
      }
    }

    &:hover {
      svg {
        path {
          fill: #f00;
          transition: fill 0.2s linear;
        }
      }
    }
  }

  &__wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__burger {
    display: none;
  }

  &__btn {
    height: 54px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1875rem;
  }

  &__btns {
    display: flex;
    grid-column-gap: 20px;

    .header__user-btn {
      border: 1px solid rgba(196, 196, 196, 0.5);
      border-radius: 100px;
      padding-left: 38px;
      padding-right: 38px;
      font-weight: 400;
    }
  }
}

a {
  cursor: pointer;
  font-size: 1.1875rem;
  line-height: 130%;
  letter-spacing: -0.02em;
  color: #0500FF;
  font-weight: normal;
  transition: color 0.3s;

  &:not(.btn):hover {
    color: #ff0000;
    transition: color 0.3s;
  }
}

.text-grey {
  color: #A5A5BB;
}

.main {
  //display: grid;
  //grid-template-columns: 1fr 3fr;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #F2F2FC;
  border-radius: 100px;
}

html {
  scrollbar-color: #F2F2FC rgba(0, 0, 0, 0); /*Цвет скролла, цвет ползунка*/
  scrollbar-width: thin;
}

.aside {
  left: 0;
  top: 0;
  position: fixed;
  background: white;
  height: 100%;
  min-width: 480px;

  .empty {
    height: 90px;
  }

  &__wrap {
    position: sticky;
    top: 0;
    padding: 35px 38px 35px;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: 26px;
    }

    &::-webkit-scrollbar-thumb {
      border: 9px solid #fff;
    }
  }

  &__close-btn {
    position: absolute;
    right: 9px;
    top: 20px;
    width: 15px;
    height: 15px;
    cursor: pointer;

    &:before, &:after {
      position: absolute;
      left: 15px;
      content: '';
      height: 16px;
      width: 2px;
      background-color: #A5A5BB;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }

  .buy-course__btn {
    display: none;
    height: 54px;
  }

  .course {
    position: relative;
    margin-bottom: 54px;

    &:not(:first-child) {
      padding-top: 50px;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-color: #C2C2E7;
        width: 100%;
        height: 1px;
        margin-right: -15px;
        margin-left: -15px;
      }
    }

    &__header {
      div {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        a {
          font-size: 1.1875rem;
        }

        p {
          font-size: 1.1875rem;
        }
      }
    }

    &__progress {
      margin-top: 44px;

      ul {
        li {
          position: relative;
          font-weight: 400;
          font-size: 1.1875rem;
          line-height: 130%;
          border-radius: 100px;
          margin-left: -15px;
          margin-right: -15px;
          cursor: pointer;
          transition: background 0.3s;
          display: flex;
          align-items: center;
          padding-top: 12px;
          padding-bottom: 12px;
          padding-right: 14px;

          &:not(.selected):hover {
            background: #F8F8FD;
            transition: background 0.3s;
          }

          p {
            padding-left: 48px;
            display: flex;
            align-items: center;

            svg {
              margin-right: 11px;
            }
          }
        }

        .course__block {
          margin-top: 40px;
          margin-bottom: 15px;
        }

        .completed {
          p {
            svg {
              min-width: 8px;

              circle {
                fill: #8DE300;
              }
            }
          }
        }

        .selected {
          background-color: black;
          color: white;
        }

        .number {
          position: absolute;
          left: 15px;
        }
      }
    }
  }
}

.content {
  padding: 54px 88px 44px 90px;
  background: #F8F8FD;
  margin-left: 480px;
}

.footer {

  a, p {
    font-size: 1.1875rem;
    line-height: 130%;
  }

  a {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  .top {
    display: flex;
    justify-content: space-between;

  }
  .bottom {
    margin-top: 24px;
  }
}

/*----- elements ----------*/

.btn {
  cursor: pointer;
}

.play-btn {
  display: flex;
  background: #0500FF;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  justify-content: center;
  align-items: center;

  svg {
    margin-right: -12px;
  }

  @media (max-width: 767px) {
    height: 70px;
    width: 70px;

    svg {
      width: 25px;
      height: 30px;
      margin-right: -8px;
    }
  }
}

.buy-course__btn {
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
  background: #0500FF;
  border-radius: 100px;
  font-weight: 600;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 1.1875rem;

  svg {
    margin-right: 14px;
  }
}

.close-aside {
  .header__burger {
    display: block;
  }
  .aside {
    left: -100%;
  }
}

@media (max-width: 1360px) {

  html {
    font-size: 14px;
  }

  .header {
    &__logo {
      margin-left: 50px;
    }

    &__burger {
      position: absolute;
      z-index: 10;
      display: block;
      padding: 0;
      border: 0;
      cursor: pointer;
      background: transparent;
      width: 27px;
      height: 40px;
      overflow: hidden;

      .header__line{
        display: block;
        position: absolute;
        width: 2px;
        height: 36px;
        background: #000000;
        border-radius: 2px;
        -webkit-transition: 0.25s linear;
        -moz-transition: 0.25s linear;
        -ms-transition: 0.25s linear;
        -o-transition: 0.25s linear;
        transition: 0.25s linear;
      }
      .header__line{
        background: #ffffff;
      }
      .closed .header__line{
        background: #000;
      }
      .header__line--1 {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        top: -4px;
        left: 12px;
      }
      .header__line--2 {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 8px;
        left: 12px;
      }
      .header__line--3 {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 24px;
        left: 40px;
      }
      .header__line--2-fly {
        top: 35px;
        left: -15px;
      }
      .header__line--3-fly {
        top: -4px;
        left: 12px;
      }
    }
  }

  .aside {
    left: -100%;
    transition: left 0.5s ease-out;

    &__close-btn {
      display: none;
    }
    .course {
      &:not(:first-child) {
        display: none;
      }

      &__header {
        div {
          display: none;
        }
      }

      &__progress {
        margin-top: 30px;
      }
    }
  }

  .content {
    padding: 40px 70px 30px 75px;
    margin-left: 0;
    &__wrapper {
      max-width: unset;
    }
  }

  .open-aside {
    overflow: hidden;

    .dark {
      display: block;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      z-index: 11;
      background-color: rgba(0, 0, 0, 0.6);
    }

    .header {
      &__burger {
        .header__line {
          background: black;
        }
      }
    }
    .aside {
      z-index: 15;
      left: 0;
    }
  }
}

@media (max-width: 767px) {

  html {
    font-size: 10px;
  }
  .header {
    height: 64px;

    &__logo {
      svg {
        width: 50px;
      }
    }
    &__buy-course {
      display: none;
    }
  }

  .aside {
    width: 100%;
    min-width: 100%;
    .buy-course__btn {
      display: flex;
    }
  }

  .content {
    padding: 20px 15px 20px 15px;
  }
}