* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Proxima Nova Rg", sans-serif;
  font-size: 1rem;
}

ul {
  list-style: none;

  li {
    font-size: 19px;
    line-height: 130%;
  }
}

h2 {
  font-family: "Proxima Nova Sb", sans-serif;
  font-size: 30px;
  line-height: 130%;
  letter-spacing: -0.02em;

  @media (max-width: 767px) {
    font-size: 25px;
  }
}

header {
  background-color: black;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  padding: 0 30px;
  position: relative;
  z-index: 10;
}

.header {

  &__logo {
    cursor: pointer;
    transition: margin-left 0.4s;

    svg {
      path {
        transition: fill 0.2s linear;
      }
    }

    &:hover {
      svg {
        path {
          fill: #f00;
          transition: fill 0.2s linear;
        }
      }
    }
  }

  &__wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btn {
    height: 54px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
  }

  &__btns {
    display: flex;
    grid-column-gap: 20px;

    .header__user-btn {
      border: 1px solid rgba(196, 196, 196, 0.5);
      border-radius: 100px;
      padding-left: 38px;
      padding-right: 38px;
      font-weight: 400;
    }
  }
}

.header__burger {
  position: absolute;
  z-index: 20;
  padding: 0;
  border: 0;
  display: none;
  top: 25px;
  left: 30px;
  cursor: pointer;
  background: transparent;
  width: 27px;
  height: 40px;
  overflow: hidden;

  .header__line{
    display: block;
    position: absolute;
    width: 2px;
    height: 36px;
    background: #000000;
    border-radius: 2px;
    -webkit-transition: 0.25s linear;
    -moz-transition: 0.25s linear;
    -ms-transition: 0.25s linear;
    -o-transition: 0.25s linear;
    transition: 0.25s linear;
  }
  .header__line{
    background: #ffffff;
  }
  .closed .header__line{
    background: #000;
  }
  .header__line--1 {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -4px;
    left: 12px;
  }
  .header__line--2 {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 8px;
    left: 12px;
    transition-delay: 0.3s;
  }
  .header__line--3 {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 24px;
    left: 40px;
    transition-delay: 0s;
  }
  .header__line--2-fly {
    top: 35px;
    left: -15px;
    transition-delay: 0s;
  }
  .header__line--3-fly {
    top: -4px;
    left: 12px;
    transition-delay: 0.3s;
  }
  
  @media (max-width: 767px) {
    top: 12px;
    left: 15px;
  }
}

a {
  cursor: pointer;
  font-size: 19px;
  line-height: 130%;
  letter-spacing: -0.02em;
  color: #0500FF;
  font-weight: normal;
  transition: color 0.3s;

  &:not(.btn):hover {
    color: #ff0000;
    transition: color 0.3s;
  }
  
  @media (max-width: 767px) {
    font-size: 16px;
  }
}

.text-grey {
  color: #A5A5BB;
}

.aside {
  left: 0;
  top: 0;
  position: fixed;
  background: white;
  height: 100%;
  width: 480px;
  transition: left 0.5s;

  .empty {
    height: 90px;
    transition: height 0.4s;
  }

  .hide {
    height: 0;
    transition: height 0.4s;
  }

  &__wrap {
    position: sticky;
    top: 0;
    padding: 35px 25px 35px 38px;
    height: 100%;

    .simplebar-track {
      &.simplebar-vertical {
        width: 16px;

        .simplebar-scrollbar {
          &:before {
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background: #F2F2FC;
            border-radius: 100px;
            opacity: 1;
            width: 7px;
          }
        }
      }
    }

    .simplebar-visible {
      &:before {
        opacity: 1;
      }
    }
  }

  &__close-btn {
    position: absolute;
    right: 25px;
    top: 20px;
    width: 15px;
    height: 15px;
    cursor: pointer;
  }

  .buy-course__btn {
    height: 54px;
    width: auto;
    display: none;
    margin-right: -15px;
    margin-left: -15px;

    svg {
      display: none;
    }
  }

  .course {
    position: relative;
    margin-bottom: 42px;

    &:not(:first-child) {
      &:before {
        content: '';
        position: relative;
        display: block;
        margin-bottom: 45px;
        background-color: #C2C2E7;
        height: 1px;
        margin-left: -15px;
      }
    }

    &__header {
      div {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;

        p {
          font-size: 19px;
        }
        .price {
          margin-right: 28px;
        }
      }
    }

    &__progress {
      margin-top: 32px;

      ul {
        li {
          position: relative;
          font-weight: 400;
          border-radius: 100px;
          margin-left: -15px;
          cursor: pointer;
          transition: background 0.3s;
          display: flex;
          align-items: center;
          padding-top: 12px;
          padding-bottom: 12px;
          padding-right: 14px;

          &:not(.selected):hover {
            background: #F8F8FD;
            transition: background 0.3s;
          }

          p {
            padding-left: 48px;
            display: flex;
            align-items: center;

            svg {
              margin-right: 11px;
            }
          }
        }

        .course__block {
          margin-top: 33px;
          margin-bottom: 7px;
        }

        .completed {
          p {
            svg {
              min-width: 8px;

              circle {
                fill: #8DE300;
              }
            }
          }
        }

        .selected {
          background-color: black;
          color: white;
        }

        .number {
          position: absolute;
          left: 15px;
        }
      }
    }
  }
}

.close-aside {
  .header__burger {
    display: block;
  }
  .header__logo {
    margin-left: 50px;
  }
  .aside {
    left: -100%;
  }

  .content {
    margin-left: 0;
  }
}

.content {
  padding: 54px 88px 45px 90px;
  background: #F8F8FD;
  margin-left: 480px;
  transition: margin-left 0.5s;
}

.footer {

  p {
    font-size: 19px;
    line-height: 130%;
    padding-right: 15px;
  }

  a {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  .top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    grid-row-gap: 20px;
  }
  .bottom {
    margin-top: 24px;
  }
}

/*----- elements ----------*/

.btn {
  cursor: pointer;
  font-family: "Proxima Nova Sb", sans-serif;
}

.play-btn {
  display: flex;
  background: #0500FF;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  justify-content: center;
  align-items: center;

  svg {
    margin-right: -12px;
  }

  @media (max-width: 767px) {
    height: 70px;
    width: 70px;

    svg {
      width: 25px;
      height: 30px;
      margin-right: -8px;
    }
  }
}

.buy-course__btn {
  display: flex;
  background: #0500FF;
  border-radius: 100px;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 19px;
  width: 470px;
  padding-left: 10px;
  padding-right: 10px;

  svg {
    margin-right: 14px;
  }

  @media (max-width: 767px) {
    width: 100%;
    svg {
      display: none;
    }
  }
}

//::-webkit-scrollbar { /* for Mac OS X support */
//  width: 0;
//}


/*--------- elements(end) -----------------*/

@media (max-width: 1360px) {

  html {
    font-size: 14px;
  }

  .header {
    &__logo {
      margin-left: 50px;
    }

    &__burger {
      display: block;
    }
  }

  .aside {
    left: -100%;
    transition: left 0.5s ease-out;

    &__close-btn {
      display: none;
    }

    .buy-course__btn {
      display: flex;
    }
    .course {
      &:not(:first-child) {
        display: none;
      }

      &__header {
        div {
          display: none;
        }
      }

      &__progress {
        margin-top: 30px;
      }
    }
  }

  .content {
    padding: 40px 35px 30px 35px;
    margin-left: 0;
    &__wrapper {
      max-width: unset;
    }
  }

  .open-aside {
    overflow: hidden;

    .dark {
      display: block;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      z-index: 11;
      background-color: rgba(0, 0, 0, 0.6);
    }

    .header {
      &__burger {
        .header__line {
          background: black;
        }
      }
    }
    .aside {
      z-index: 15;
      left: 0;
    }
  }
}

@media (max-width: 767px) {

  html {
    font-size: 10px;
  }
  .header {
    height: 64px;

    &__logo {
      margin-left: 30px;
      svg {
        width: 50px;
      }
    }
    &__buy-course {
      display: none;
    }
  }

  ul {
    li {
      font-size: 16px;
    }
  }

  .buy-course__btn {
    font-size: 16px;
  }

  .aside {
    width: 100%;
    min-width: 100%;
    .buy-course__btn {
      margin-right: -10px;
      margin-left: -10px;
    }

    .empty {
      height: 50px;
    }

    &__wrap {
      padding: 20px 15px 25px;
      overflow: hidden;
    }

    .course {
      margin-bottom: 25px;

      &__progress {
        margin-top: 12px;

        ul {
          li {
            margin-right: -10px;
            margin-left: -10px;
          }
        }
      }
    }
  }

  .content {
    padding: 20px 15px 20px 15px;
  }

  .footer {
    p {
      font-size: 16px;
    }

    .top {
      grid-row-gap: 12px;
    }

    .bottom {
      margin-top: 0;

      a {
        margin-bottom: 12px;
      }
    }

    .messengers {
      display: flex;
      flex-wrap: wrap;

      a {
        margin-bottom: 12px;
      }
    }

    a {
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }
}