@import "font-face";
@import "commonStyles";

.content__wrapper {
  max-width: 960px;

  .breadcrumbs {
    font-size: 19px;
  }
  h1 {
    font-weight: 400;
    font-size: 5rem;
    line-height: 110%;
    letter-spacing: -0.04em;
    margin-top: 23px;
    padding-right: 15px;
  }

  .content-item {
    background: #FFFFFF;
    border-radius: 10px;

    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }
  
  @media (max-width: 767px) {

    .breadcrumbs {
      font-size: 16px;
    }
    h1 {
      margin-top: 12px;
    }
    .content-item {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }
}

.video-block {
  padding: 24px 0 32px;

  h2 {
    padding: 0 40px;
  }

  .video {
    margin-top: 20px;
    margin-bottom: 32px;
    height: 540px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
  }

  ul {
    padding: 0 40px;

    li {

      a {
        color: black;
        transition: color 0.3s;
        display: flex;
      }

      &:not(:last-child) {
        margin-bottom: 12px;
      }
      svg {
        margin-top: 6px;
        margin-right: 18px;
        min-width: 8px;
      }
    }

    .pressed {
      a {
        color: #0500FF;
        transition: color 0.3s;
      }
    }
  }
  
  @media (max-width: 767px) {
    h2 {
      padding-right: 15px;
      padding-left: 15px;
    }
    .video {
      height: 210px;
      margin-top: 14px;
      margin-bottom: 15px;
    }
    ul {
      padding-left: 15px;
      padding-right: 15px;

      li {
        a {
          svg {
            margin-right: 10px;
            margin-top: 4px;
          }
        }
      }
    }
  }
}

.materials {
  padding: 25px 39px 39px;
  display: flex;
  flex-direction: column;

  h2 {
    margin-bottom: 21px;
  }

  a {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  @media (max-width: 767px) {
    h2 {
      margin-bottom: 14px;
    }
  }
}

.checking-hw {
  padding: 25px 53px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-bottom: 30px;
  }

  &__avatars {
    margin-bottom: 25px;
    display: flex;

    .avatars-item {
      &:first-child {
        z-index: 3;
        margin-right: -17px;
      }
      &:nth-child(2) {
        z-index: 2;
        margin-right: -17px;
      }
    }
  }

  p {
    font-size: 1.875rem;
    line-height: 130%;
    text-align: center;
    letter-spacing: -0.02em;
  }

  .checking-hw__buy-course {
    margin: 20px auto 0;
    width: 608px;
    height: 70px;
  }

  @media (max-width: 767px) {
    h2 {
      margin-bottom: 15px;
    }

    &__avatars {
      margin-bottom: 15px;
      img {
        width: 70px;
      }
    }
    .checking-hw__buy-course {
      width: 100%;
      height: 54px;
      text-align: center;
    }
  }
}

.next-lesson {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 25px 38px;
  align-items: center;
  font-family: "Proxima Nova Sb", sans-serif;
  font-size: 1.875rem;
  line-height: 140%;
  color: black;
  transition: color 0.3s, background-color 0.3s;

  svg {
    padding-left: 10px;
    path {
      transition: fill 0.3s;
    }
  }

  &:hover {
    background-color: black;
    color: white !important;

    svg {
      path {
        fill: white;
      }
    }
  }
}

@import "webDesignerSkillls/learningProgress.css";
