.content__wrapper {
  max-width: 960px;

  .progress {
    padding: 20px 38px 40px;
    margin-top: 43px;

    &__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5px;

      .btn-arrow {
        width: 50px;
        height: 50px;
        background: #F8F8FD;
        border: none;
        border-radius: 50%;
        margin-right: -18px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: transform 0.3s;
      }
    }

    &__body {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.3s;
      position: static;

      small {
        font-size: 19px;
        line-height: 140%;
        margin-bottom: 6px;
      }

      h3 {
        font-weight: 400;
        font-size: 30px;
        line-height: 140%;
        letter-spacing: -0.02em;
      }
    }

    &__box {
      margin-bottom: 47px;
      .text {
        display: flex;
        justify-content: space-between;
      }
    }
    &__bar {
      margin-top: 18px;
      .bar__grey {
        height: 3px;
        background: #EDEDF7;
      }
      .bar__green {
        margin-top: -3px;
        width: 3%;
        height: 3px;
        background: #8DE300;
      }
    }

    &__categories {
      display: flex;
      justify-content: space-between;
      grid-column-gap: 57px;

      .tools {
        flex: 1;

        h3 {
          margin-bottom: 19px;
        }

        &__item {
          &:not(:last-child) {
            margin-bottom: 20px;
          }
        }

        &__title {
          display: flex;
          justify-content: space-between;
        }

        &__bar {
          .bar__grey {
            height: 3px;
            background: #EDEDF7;
          }
          .bar__green {
            margin-top: -3px;
            width: 3%;
            height: 3px;
            background: #8DE300;
          }
        }
      }
    }
  }

  .open-body {
    .progress__body {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      transition: opacity 0.3s;
    }

    .progress__title {
      .btn-arrow {
        svg {
          transform: rotate(180deg);
          transition: transform 0.3s;
        }
      }
    }
  }
}